body {
  display: block;
  margin: 0 10%;
  font-family: 'Josefin Sans', monospace;
}

.container {
  display: block;
  border: 1px solid black;
  width: 90%;
  margin-bottom: 15px;
  padding: 15px;
}

.main-title {
  text-align: center;
}

.color-panel {
  display: inline-block;
  width: 32%;
  text-align: center;
  margin: 20px auto;
  min-height: 100px;
}

.color-panel p {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.color-1 {
  background-color: #487a5f;
}

.color-2 {
  background-color: #d3a42d;
}

.color-3 {
  background-color: #6471b8;
}

.color-4 {
  background-color: #288888;
}

.font-container {
  display: block;
}

.font-panel {
  width: 45%;
  display: inline-block;
}

.text-container {
  display: block;
}

.text-panel {
  width: 45%;
  display: inline-block;
}

.font-label {
  font-size: 20px;
  text-decoration: underline;
}

.source-sans-pro {
  font-family: 'Source Sans Pro', monospace;
}

.plus-jakarta-sans {
  font-family: 'Plus Jakarta Sans', monospace;
}

.josefin-sans {
  font-family: 'Josefin Sans', monospace;
}

.regular {
  font-style: normal;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
}

h2 {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

p {
  font-family: 'Josefin Sans', sans-serif;
}
